@model IEnumerable<EBikeRental_Web_App_System.Models.Rental>

@{
    ViewData["Title"] = "Index";
}

<h1>Rental Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Rentals" asp-action="Index">
    <p>
        Customer/Staff Last Name: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table text-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BorrowDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollectionTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bike)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CollectionTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bike.BikeModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Staff.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RentalId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RentalId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RentalId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
