@model IEnumerable<EBikeRental_Web_App_System.Models.PaymentsType>

@{
    ViewData["Title"] = "Index";
}

<h1>Payments Type Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="PaymentsTypes" asp-action="Index">
    <p>
        Payment Type: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table text-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PaymentsTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PaymentsTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PaymentsTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
